<!-- Apresentação -->
<div id="initial" class="sm:flex h-full bg-[url('./assets/img/photo.jpg')] bg-cover bg-center bg-no-repeat"
  (click)="scroll('treatment')">
  <div class="flex items-center bg-black/10 w-full h-[90vh]">
    <div class="lg:pl-20 p-4">
      <div class="font sm:text-[60px]  text-[40px] leading-tight font-bold">
        <span>Dra. Lívia Lanzoni</span>
      </div>
      <div class="text-2xl leading-tight mb-6 text-white">
        <span>CRM </span>
      </div>
      <div class="text-justify text-white mb-8">
        <span class="sm:text-3xl text-xl">Realçando a beleza dos seus olhos com precisão e cuidado! </span>
      </div>
      <div>
        <button (click)="redirect()"
          class="bg-white px-8 py-3 text-sm font-bold text-primary hover:text-white hover:bg-primary rounded-full">
          MARQUE UMA CONSULTA
        </button>
      </div>
    </div>
  </div>
</div>

<div class="triangle z-10"></div>

<div id="about" class="bg-primary min-h-[200px] py-8 px-4 mt-[-2px]">
  <div class="flex justify-center mb-4 p-8">
    <div class="bg-white px-6 py-1 text-2xl font-medium text-primary">
      SOBRE LÍVIA LANZONI
    </div>
  </div>

  <div class="sm:flex justify-around p-8">
    <div class="text-justify sm:mr-8 mb-4">
      <span class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
        has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
        and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
        electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
        Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
        PageMaker including versions of Lorem Ipsum.</span>
    </div>

    <div>
      <img [src]="imageService.profile" class="rounded-md object-cover" alt="">
    </div>
  </div>
</div>

<div id="treatment" class="min-h-[200px] py-8 px-4">
  <div class="flex justify-center mb-4 p-8">
    <div class="bg-primary px-6 py-1 text-2xl font-medium text-white">
      TRATAMENTOS
    </div>
  </div>

  <div class="sm:flex flex-wrap justify-around">
    <ng-container *ngFor="let treat of treatments">
      <div class="p-4 sm:w-[400px] w-[90vw] ">
        <div class="rounded-br-3xl border-l-4 border-[#E2B3A3] bg-primary p-4 mb-4 shadow-md">
          <div class="mb-2">
            <span class="text-white text-2xl font-medium ">{{ treat.name }}</span>
          </div>
          <div>
            <span class="text-sm text-white">{{ treat.description }}</span>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<div id="clinic" class="min-h-[200px] py-8 px-4 bg-[#DFD4CF]">
  <div class="flex justify-center mb-4 p-8">
    <div class="bg-primary px-6 py-1 text-2xl font-medium text-white">
      CLÍNICA
    </div>
  </div>



  <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    <div class="grid gap-4">
      <div>
        <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image.jpg"
          alt="">
      </div>
      <div>
        <img class="h-auto max-w-full rounded-lg"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-1.jpg" alt="">
      </div>
      <div>
        <img class="h-auto max-w-full rounded-lg"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-2.jpg" alt="">
      </div>
    </div>
    <div class="grid gap-4">
      <div>
        <img class="h-auto max-w-full rounded-lg"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-3.jpg" alt="">
      </div>
      <div>
        <img class="h-auto max-w-full rounded-lg"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-4.jpg" alt="">
      </div>
      <div>
        <img class="h-auto max-w-full rounded-lg"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-5.jpg" alt="">
      </div>
    </div>
    <div class="grid gap-4">
      <div>
        <img class="h-auto max-w-full rounded-lg"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-6.jpg" alt="">
      </div>
      <div>
        <img class="h-auto max-w-full rounded-lg"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-7.jpg" alt="">
      </div>
      <div>
        <img class="h-auto max-w-full rounded-lg"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-8.jpg" alt="">
      </div>
    </div>
    <div class="grid gap-4">
      <div>
        <img class="h-auto max-w-full rounded-lg"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-9.jpg" alt="">
      </div>
      <div>
        <img class="h-auto max-w-full rounded-lg"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-10.jpg" alt="">
      </div>
      <div>
        <img class="h-auto max-w-full rounded-lg"
          src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-11.jpg" alt="">
      </div>
    </div>
  </div>

</div>

<!-- CONTATO -->
<div class="flex justify-center p-4">
  <div id="contact" class="sm:flex justify-center mb-10 border-2 border-primary">
    <div class="p-10 sm-w[800px]">
      <div class="flex justify-center mb-4 p-3">
        <div class="bg-primary px-6 py-1 text-2xl font-medium text-white">
          CONTATO
        </div>
      </div>

      <div class="mb-4">
        <div class="mb-2">
          <span class="font-bold">HORÁRIO DE FUNCIONAMENTO</span>
        </div>
        <div class="mb-4">
          <div>
            <span class="italic">Terça à Sexta</span>
          </div>
          <div>
            <span>Das 8h às 19h</span>
          </div>
        </div>
        <div>
          <div>
            <span class="italic">Sábado</span>
          </div>
          <div>
            <span>Das 8h às 15h</span>
          </div>
        </div>
      </div>

      <div>
        <div class="mb-2">
          <span class="font-bold">ENDEREÇO</span>
        </div>
        <div class="mb-4">
          <div>
            <span>R. Avenida Barao de Itapura, 610, Sala 410 - Botafogo, Campinas - SP, 13020-430</span>
          </div>
        </div>
      </div>

      <div>
        <div class="mb-2">
          <span class="font-bold">TELEFONE</span>
        </div>
        <div class="mb-4">
          <div>
            <span>(19) 97130-4004</span>
          </div>
        </div>
      </div>

      <div>
        <div class="mb-4">
          <span class="font-bold">SIGA-NOS</span>
        </div>
        <div class="flex">
          <div class="flex">
            <button mat-icon-button class="bg-primary rounded-full p-2 hover:bg-black mr-4"
              (click)="openAnother('https://www.instagram.com/dra.livialanzoni/')">
              <img [src]="instagram" class="w-8" alt="">
            </button>

            <button mat-icon-button class="bg-primary rounded-full p-2 hover:bg-black"
              (click)="openAnother('https://www.facebook.com/draliviamaraarnonilanzoni/?locale=pt_BR')">
              <img [src]="facebook" class="w-8" alt="">
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ONDE ESTAMOS -->
<div class="mb-10 p-4">
  <div class="flex justify-center items-center mb-4">
    <div class="bg-primary h-[1px] w-28"></div>
    <div class="mx-4">
      <span class="tracking-widest text-green-900">ONDE ESTAMOS</span>
    </div>
    <div class="bg-primary h-[1px] w-28 "></div>
  </div>
  <div class="flex justify-center">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d760.5826598394905!2d-47.06855581707419!3d-22.89834228898831!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c8c8a5e3495555%3A0xe63e3171e79ea2f8!2sAv.%20Bar%C3%A3o%20de%20Itapura%2C%20610%20-%20Sala%20410%20-%20Taquaral%2C%20Campinas%20-%20SP%2C%2013020-430!5e0!3m2!1spt-BR!2sbr!4v1722548402948!5m2!1spt-BR!2sbr"
      width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>

<!-- FOOTER -->,
<div class="h-[50px] bg-primary flex items-center justify-center">
  <span class="text-white">© 2024 | Orgulhosamente criado por DB Company</span>
</div>
