

.font {
  font-family: 'Bilbo Swash Caps';
  color: white;
  letter-spacing: 5px;
}

.img {
  filter: sepia(2) saturate(1) hue-rotate(-20deg) brightness(0.1);
}


.triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 90px 0 0 100vw;
  border-color: transparent transparent transparent #C48B6E;
  transform: rotate(0deg);
  margin-top: -90px;
}


.carousel {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: -350px;
}

@mixin white-gradient {
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

$animationSpeed: 40s;

// Animation
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 7))
  }
}


// Styling
.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
  // height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  max-width: 99vw;

  &::before,
  &::after {
    @include white-gradient;
    content: "";
    height: 400px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide-track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    width: calc(250px * 14);
  }

  .slide {
    height: 300px;
    margin-right: 10px;
  }
}
