<div class="p-5">
  <div class="flex justify-center items-center mb-10">
    <div class="bg-primary h-[1px]  sm:w-28"></div>
    <div class="mx-4">
      <span class="tracking-widest text-green-900 text-lg">LASER LAVIEEN</span>
    </div>
    <div class="bg-primary h-[1px] sm:w-28 "></div>
  </div>

  <div class="flex justify-center">
    <div class="sm:w-[800px] w-screen">
      <div class="mb-4">
        <span>1. <strong>Realce Natural</strong></span><br>
        <span>O tratamento com laser LaVieen destaca a beleza natural da pele, promovendo uma aparência renovada de
          forma suave e equilibrada.</span>
      </div>
      <div class="mb-4">
        <span>2. <strong>Pele Revitalizada</strong></span><br>
        <span>O laser LaVieen revitaliza a pele, melhorando sua textura e luminosidade de maneira natural, sem causar
          danos ou irritações.</span>
      </div>
      <div class="mb-4">
        <span>3. <strong>Uniformidade e Equilíbrio</strong></span><br>
        <span>Promove uma tonalidade uniforme e uma textura equilibrada da pele, criando uma harmonia estética que
          realça a beleza singular de cada pessoa.</span>
      </div>
      <div class="mb-4">
        <span>4. <strong>Naturalidade Prioritária</strong></span><br>
        <span>O foco está em preservar a naturalidade da pele, utilizando o laser LaVieen de forma delicada e adaptada
          às necessidades individuais de cada paciente.</span>
      </div>
      <div class="mb-4">
        <span>5. <strong>Confiança Autêntica</strong></span><br>
        <span>O tratamento com laser LaVieen visa realçar a beleza natural de cada pessoa, proporcionando autoconfiança
          e bem-estar em relação à sua própria pele.</span>
      </div>
    </div>
  </div>
</div>


<div class="flex justify-center">
  <div class="sm:w-[1000px] w-screen">
    <div class="flex w-full overflow-auto p-7">
      <ng-container *ngFor="let photo of photoList">
        <div (click)="showModal(photo.photo)"  class="mr-6 hover:opacity-50 hover:cursor-pointer">
          <img [src]="photo.photo" alt="" class="sm:min-w-80 min-w-52 rounded-full">
        </div>
      </ng-container>
    </div>
  </div>
