<div class="p-5">
  <div class="flex justify-center items-center mb-10">
    <div class="bg-primary h-[1px]  sm:w-28"></div>
    <div class="mx-4">
      <span class="tracking-widest text-green-900 text-lg">ÁCIDO HIALURÔNICO</span>
    </div>
    <div class="bg-primary h-[1px] sm:w-28 "></div>
  </div>

  <div class="flex justify-center">
    <div class="sm:w-[800px] w-screen">
      <div class="mb-4">
        <span>1. <strong>Realce Natural</strong></span><br>
        <span>O ácido hialurônico, uma substância naturalmente presente no corpo humano, destaca a beleza natural do
          rosto, promovendo harmonização facial de forma sutil e equilibrada.</span>
      </div>
      <div class="mb-4">
        <span>2. <strong>Volume Sutil</strong></span><br>
        <span>Adiciona volume e preenche áreas específicas do rosto de maneira natural, sem gerar uma aparência
          artificial.</span>
      </div>
      <div class="mb-4">
        <span>3. <strong>Simetria e Harmonia</strong></span><br>
        <span>Melhora a simetria facial e complementa os traços naturais, criando uma harmonia estética que realça a
          beleza única de cada indivíduo.</span>
      </div>
      <div class="mb-4">
        <span>4. <strong>Naturalidade Prioritária</strong></span><br>
        <span>O objetivo principal é preservar a naturalidade dos contornos faciais, utilizando o ácido hialurônico de
          forma cuidadosa e personalizada para cada paciente.</span>
      </div>
      <div class="mb-4">
        <span>5. <strong>Confiança Autêntica</strong></span><br>
        <span>A harmonização facial com ácido hialurônico visa realçar a beleza singular de cada pessoa, proporcionando
          autoconfiança e bem-estar em sua própria pele.
        </span>
      </div>
    </div>
  </div>
</div>


<div class="flex justify-center">
  <div class="sm:w-[1000px] w-screen">
    <div class="flex w-full overflow-auto p-7">
      <ng-container *ngFor="let photo of photoList">
        <div (click)="showModal(photo.photo)" class="mr-6 hover:opacity-50 hover:cursor-pointer">
          <img [src]="photo.photo" alt="" class="sm:min-w-80 min-w-52 rounded-full">
        </div>
      </ng-container>
    </div>
  </div>
