@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Ephesis&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html, body { height: 100%; }
body { margin: 0 }


.fade25 {
  animation: fadeIn 0.25s;
  opacity: 1
}

.fade50 {
  animation: fadeIn 0.5s;
  opacity: 1
}

.fade75 {
  animation: fadeIn 0.75s;
  opacity: 1
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Poppins }

* {
  font-family: Poppins;
}
